<div class="container">    
        <div id="" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Add Flat Holder</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <br>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                             <div style="display:{{loadingStatus}}; margin-left: 485px">       
								<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
								</div>
								<br>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input id="faltName" type="text" class="form-control" name="faltName" value="" placeholder="Flat Name" ng-model="flatName">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="flatNumber" type="number" class="form-control" name="flatNumber" placeholder="Flat Number" ng-model="flatNumber">
                                    </div>
                            
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                        <input id="contactNumber" type="number" class="form-control" name="contactNumber" placeholder="Contact Number" ng-model="contactNumber">
                                    </div>
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                        <input id="nicNumuber" type="number" class="form-control" name="nicNumuber" placeholder="Nic Numuber i.e 42101xxxxxxxxxxxxxxxxxx" ng-model="nicNumuber">
                                    </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="flatHolderName" type="text" class="form-control" name="flatHolderName" placeholder="Flat Holder Name" ng-model="flatHolderName">
                                    </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="amountdue" type="number" class="form-control" name="amountdue" placeholder="Amount due" ng-model="amountdue">
                                    </div>



                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-save"  class="btn btn-success" ng-click="addFlatholderDetails(flatName,flatNumber,contactNumber,nicNumuber,flatHolderName,amountdue)" style="width:100%">Save <span class="glyphicon glyphicon-ok"></span> </a>
                                      <br><br>
                                      <a href="#/menu" id="btn-back"  class="btn btn-primary" style="width:100%">Back <span class="glyphicon glyphicon-arrow-left"></span> </a>
                                    </div>
                                </div>    
                            </form>     
                        </div>                     
                    </div>  
        </div>
<toaster-container></toaster-container>