<h1> this is maintence</h1>
  <div id="" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Add Flat Maintence</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <br>
                            
                        <form id="loginform" class="form-horizontal" role="form" name="addmaintence">
                             <div style="display:{{loadingStatus}}; margin-left: 485px">       
								<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
								</div>
								<br>
                            <div style="display: {{infoStatus}}">
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input id="faltName" type="text" class="form-control" name="faltName" value="" placeholder="Flat Name" ng-model="flatName">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="flatNumber" type="number" class="form-control" name="flatNumber" placeholder="Flat Number" ng-model="flatNumber">
                                    </div>
                            </div>

                            <div style="display: {{formStatus}}">
                            <p> <b>Please enter Maintence details </b></p>
                            <select class="form-control" ng-model="month" ng-options="Month for Month in Month">
                            <option value="" ng-selected="selected">Select Month</option>
                            </select>
                            <br>
                            <select class="form-control" ng-model="year" ng-options="Year for Year in Year">
                            <option value="" ng-selected="selected">Select Year</option>
                            </select>
                            <br>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                        <input id="amount" type="number" class="form-control" name="amount" placeholder="Amount Paid i.e 800" ng-model="amount" min="800" max="2000">
                                    </div>
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                        <input id="paidby" type="text" class="form-control" name="paidby" placeholder="Amount Paid By" ng-model="paidby">
                                    </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <textarea rows="4" cols="50" class="form-control" placeholder="Any Complain?" ng-model="complain"></textarea>
                                        {{complain}}
                                    </div>
                            </div>

                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button id="procced"  class="btn btn-success" ng-click="verifyflatdetails(flatName,flatNumber)" style="width:100%; display: {{proccedStatus}}">Procced<span class="glyphicon glyphicon-ok"></span> </button>
                                      <button id="maintence"  class="btn btn-success" ng-click="addcredit(month,year,amount,paidby,complain)" style="width:100%; display: {{maintenceStatus}}">Add maintence<span class="glyphicon glyphicon-ok"></span> </button>
                                      <br>
                                      <a href="#/menu" id="btn-back"  class="btn btn-primary" ng-click="menu()" style="width:100%">Back <span class="glyphicon glyphicon-arrow-left"></span> </a>
                                    </div>
                                </div>    
                            </form>     
                        </div>                     
                    </div>  
        </div>

 <toaster-container></toaster-container>