<h1>Welcome {{username}}</h1>
<h2>Hello</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" style="width: 1100px">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Menu</h3>
                </div>
                <div class="panel-body" style="height: 200px">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                          <a href="#/addflatholder" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-home"></span> <br/>Add Flat Holder</a>
                          <a href="#/viewflatholder" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>View Flat Holder</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <a href="#/addmaintence" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Add maintence</a>
                          <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
