
<h1>Flat holder details</h1>

<div class="table-responsive">
    <div class="bootstrap-table">
		<div class="fixed-table-toolbar">
			<div class="bars pull-left">
				<div id="toolbargrid">
					<div class="form-inline" role="form">
						 
					</div>
				</div>
			</div>
		</div>
		<div class="toolbar clearfix">
			<div class="toolbar-right">
				<div class="form-inline" role="form">
				    <input class="form-control table-search" type="text" placeholder="Search">
    			</div>
				
			</div>
		</div>
		<div class="fixed-table-container">
			<div class="fixed-table-header">
				<table></table>
			</div>
			<div class="fixed-table-body">
				<table id="grid" class="table table-striped table-hover" data-toolbar="#toolbargrid" data-pagination="true" data-search="true">
					<thead>
						<tr>
							<th class="text-left" style="">
								<div class="th-inner sortable">Flat holder name</div>
								<div class="fht-cell"></div>
							</th>
							<th class="text-left" style="">
								<div class="th-inner sortable">Contact number</div>
								<div class="fht-cell"></div>
							</th>
							<th class="text-left" style="">
								<div class="th-inner sortable">Status</div>
								<div class="fht-cell"></div>
							</th>
							<th class="text-left" style="">
								<div class="th-inner sortable">Date Created</div>
								<div class="fht-cell"></div>
							</th>
							<th style="">
								<div class="th-inner ">Options</div>
								<div class="fht-cell"></div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-index="0" ng-repeat="user in users">
							<td class="text-left" style="">{{user.flatHolderName}}</td>
							<td class="text-left" style="">{{user.contact}}</td>
							<td class="text-left" style="">Active</td>
							<td class="text-left" style="">{{ user.date | date : "fullDate" }}</td>
							<td style="">
								<a class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i></a> <a class="btn btn-primary"><i class="fa fa-fw fa-eye"></i></a>
							</td>
						</tr>
					</tbody>
					<tfoot></tfoot>
				</table>
			</div>
			<div class="fixed-table-pagination">
				<div class="pull-left pagination-detail">
					<span class="pagination-info">Showing 1 to 3 of 3 rows</span>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>